{% extends 'base.html' %}
{% block html %}
    <div class="viewport-height-100 show-flex flex-column align-items-center justify-content-center text-center">
        <div class="width-50">
            <h1>Invalid or expired link</h1>
            <p class="lead">
                Sorry, this link has expired. Please find a more recent
                email and click the &ldquo;Update preferences&rdquo; link
                to update your details.
            </p>
        </div>
    </div>
{% endblock html %}
