{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
    <div class="grid text-center margin-top-3 margin-top-tablet-5">
        <div class="cell-tablet-8 margin-x-auto">
            <h1>Good stuff is coming your way</h1>
        </div>
    </div>

    <div class="grid margin-bottom-3 margin-bottom-tablet-5">
        <div class="cell-tablet-8 margin-x-auto text-center">
            <p class="lead">
                Thanks for checking out Notion Sidekick. You can
                expect your first email on Thursday, with all the
                latest tips and templates to help you get the most
                out of Notion.
            </p>
        </div>
    </div>
{% endblock body %}
