{% extends 'base.html' %}

{% block body %}
    <div class="grid text-center margin-top-3 margin-top-tablet-5">
        <div class="cell-tablet-8 margin-x-auto">
            <h1>We&rsquo;re now in sync</h1>
        </div>
    </div>

    <div class="grid margin-bottom-3 margin-bottom-tablet-5">
        <div class="cell-tablet-8 margin-x-auto text-center">
            <p class="lead">
                Thanks for updating your details. Your changes will
                be taken into account in your next digest email.
            </p>
        </div>
    </div>
{% endblock body %}
