{% extends 'base.html' %}
{% load static newsletter django_bootstrap5 %}

{% block header %}
    <div class="show-flex flex-wrap justify-content-between margin-bottom-3 margin-bottom-tablet-5">
        <div class="show-flex margin-start-0 site-brand align-items-center">
            <img alt="Logo" src="{% static 'img/logo-light.png' %}" class="margin-end-2" style="height: 4rem;">
            <div class="display-2 site-name">Block<span class="font-weight-bold">holm</span></div>
        </div>

        {% include 'theme/main_menu.html' %}
    </div>

    <p class="display-2">Reclaim your sanity and do your best work with Notion.</p>
    <form action="{% url 'create_subscriber' %}" method="post" class="show-flex">
        {% bootstrap_field form.email show_label=False size='lg' wrapper_class='flex-grow-1 margin-end-2' field_class='rounded-pill' placeholder='jo@example.com' %}
        <button type="submit" class="btn btn-primary flex-shrink-0 rounded-pill">Subscribe</button>
        {{ form.hidden_fields|join:'' }}
        {% csrf_token %}
    </form>
{% endblock header %}

{% block body %}
    <div class="grid justify-content-center">
        {% for object in post_list %}
            <div class="show-flex flex-column cell-tablet-4 margin-bottom-4">
                <a href="{{ object.get_absolute_url }}" class="show-flex flex-column justify-content-between background-white padding-3 rounded height-100 text-black text-decoration-none">
                    <div>
                        <h2 class="h5 margin-top-0">{{ object.title }}</h2>
                        <div class="small">{{ object.get_excerpt|truncatewords:20|linebreaks }}</div>
                    </div>

                    <p class="text-muted margin-bottom-0">
                        <img alt="{{ object.author.get_full_name }}'s avatar" src="{{ object.author.email|gravatar:96 }}" class="rounded-circle" style="height: 1rem;">
                        {{ object.published|date:'jS F, Y' }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
