<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <title>Internal server error</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/theme.css">
    </head>
    <body class="show-flex viewport-height-100 justify-content-between flex-column background-light">
        <div class="viewport-height-100 show-flex flex-column align-items-center justify-content-center text-center">
            <div class="margin-y-auto width-50">
                <img alt="Marvin, the paranoid android from the Hitchhiker's Guide to the Galaxy movie, pointing and looking upset" src="/static/img/marvin.png" width="245" class="margin-bottom-4">
                <h1>Don&rsquo;t panic</h1>
                <p class="lead">
                    Something&rsquo;s gone wrong with the webiste. It wasn&rsquo;t
                    your fault, and the dork who built it has been notified.
                </p>
            </div>
        </div>
    </body>
</html>
